html,body {
	position: fixed;
	font-family: 'Playfair Display SC', serif;
	top:0;
    bottom:0;
    left:0;
    right:0;
	margin: 0;
	padding: 0;
}

#header {
	position: absolute;
	z-index: 5;
	top: 3vw;
  	left: 5vw;
	height: fit-content;
	width: fit-content;
	background-color: transparent;
	color: whitesmoke;
	font-family: 'Great Vibes', cursive;
	text-shadow: 3px 3px 2px black;
	text-align: center;
	cursor: pointer;
}
#title {font-size: 6vw;}
#subtitle {font-size: 2vw;}

#overlay {
	z-index: 2;
	filter: blur(0px);
	transition: 1s ease;
	filter: saturate(100%);
	transition: 1s ease;
}

img {
	z-index: 1;
	display: block;
	height:100%;
	width: 100%;
}

#book{
	position: absolute;
	z-index: 3;
	top: 15vw;
	left: 18vw;
	height: 30vw;
	width: 20vw;
	transform: rotate(-20deg);
	cursor: pointer;
	background-color: rgb(197, 50, 141);
	filter: blur(5px);
	transition: 1s ease;
}

#text {
	position: absolute;
	z-index: 4;
	color: black;
  	font-size: 2vw;
  	top: 28vw;
  	left: 40vw;
	height: fit-content;
	width: fit-content;
	text-align: center;
	opacity: 0;
	transition: 1s ease;
}

#book:hover {
	filter: blur(0px);
	-webkit-transform: rotateZ(-10deg);
	-ms-transform: rotateZ(-10deg);
	transform: rotateZ(-10deg);
	transition: 1s ease;
}

#book:hover + #text {
	opacity: 1;
	transition: 1s ease;
}

#book:hover ~ #overlay {
	filter: blur(5px);
	transition: 1s ease;

	filter: saturate(0%);
	transition: 1s ease;
}