.a-modal {
    display: none!important;
}

body {
	font-size: 30px;
	font-family: 'Playfair Display SC', serif;
	margin: 0;
    padding: 0;
}

.container {
	background-repeat: no-repeat;
	position: relative;
	background-color: transparent;
}

.content {
	position: relative;
	margin: 0;
	background-color: transparent;
}

.header {
	position: absolute;
	height: fit-content;
    width: fit-content;
	top: 6%;
  	left: 6%;
	margin: 0;
	background-color: transparent;
	color: rgb(255, 255, 255);
	transform: scale(100%, 100%);
	-ms-transform: scale(50%, 50%);
}

.title, .subtitle {
	font-family: 'Great Vibes', cursive;
	text-shadow: 3px 3px 2px black;
	text-align: center;
	cursor: pointer;
	margin: 0;
    padding: 0;
}

.title {
	font-size: 4.5em;
}

.subtitle {
	font-size: 2em;
}

/* p {
	color: black;
	font-variant: small-caps;
	line-height: 3;
} */

img {
	display: block;
	height:100%;
	width: 100%;
}

.book{
	position: absolute;
	top: 30%;
	left: 10%;
	height: 30%;
	width: 15%;
	!!! rotate: x 35deg; !!!
	background-color: rgb(197, 50, 141);
}

.overlay {
	position: absolute;
	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	height: 100%;
 	width: 100%;
  	opacity: 0;
  	transition: .7s ease;
  	background-color: transparent;
}

.book:hover .overlay {
	opacity: 1;
}

.book:hover img {
	filter: blur(5px);
}

.text {
	position: absolute;
	color: black;
  	font-size: 30px;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
}

.redlight {
	position: relative;
  	height: 100%;
  	width: 100%;
  	transition: 1s ease;
}